.chat-block {
  height: calc(100vh - 100px);
  overflow: hidden;

  .message-block {
    height: calc(100vh - 200px);
    overflow-y: scroll;

    .join-status {
      max-width: fit-content;
    }

    .message {
      max-width: fit-content;
      word-break: break-word;
      font-size: 14px;

      p {
        margin: 0;
      }
    }
  }
}
